@model EFDataApp.Domain.Entities.Product
@{
    ViewBag.Title = Model.Name;
}
<h2>Товар @Model.Name</h2>
<img src="@Model.ImagePath" width="250" height="250" />
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Название</dt>
        <dd>@Model.Name</dd>

        <dt>Производитель</dt>
        <dd>@Model.Manufacturer</dd>

        <dt>Цена</dt>
        <dd>@Model.Price</dd>

        <dt>Количество</dt>
        <dd>@Model.Count</dd>
    </dl>
    <form asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <input type="hidden" name="Price" value="@Model.Price" />
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <button type="submit" class="btn btn-success btn-sm" style="float:right">В Корзину</button>
    </form>

    @if (ViewBag.returnUrl != null)
    {
        <a href="@ViewBag.returnUrl" class="btn">Вернуться</a>
    }

</div>
